{% extends "layout.html" %}


{% block css_adicional %}
<link rel="stylesheet" href="static/src/css/produto.css">
{% endblock %}

{% block conteudo %}
<div class="container">
  
  <div class="image-section">
    <img src="https://images.unsplash.com/photo-1550547660-d9450f859349" alt="Hambúrguer">
  </div>

  <div class="details">
    <div class="title">Hambúrguer Artesanal Duplo 200g</div>

    <div class="description">
      Delicioso hambúrguer artesanal com carne 100% bovina, queijo cheddar derretido,
      bacon crocante e molho especial da casa. Acompanha pão brioche macio.
    </div>

    <div class="price-old">R$ 39,90</div>
    <div class="price">R$ 29,90</div>

    <a href="#" class="button">Comprar Agora</a>

    <!-- Simulação de falta de estoque -->
    <div class="out">Produto indisponível no momento</div>
  </div>

</div>
{% endblock %}