{% extends "layout.html" %}
{block css_adicional %}
<link rel="stylesheet" href="static/src/css/reset.css">
<div class="container">
  
  <div class="image-box">
    <img src="https://images.unsplash.com/photo-1550547660-d9450f859349" alt="Hambúrguer">
  </div>

  <div class="details">
    <h1>Hambúrguer Artesanal 300g</h1>

    <div class="price">R$ 35,00</div>

    <div class="info">
      Código: #123456<br>
      Marca: Burger House
    </div>

    <button class="btn">Adicionar</button>

    <div class="quick-add">
      <button>+1</button>
      <button>+2</button>
      <button>+5</button>
      <button>+10</button>
    </div>

    <div class="note">
      * Preço pode variar conforme adicionais;<br>
      * Sujeito à disponibilidade;<br>
      * Imagem ilustrativa;
    </div>
  </div>

</div>

